<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Alternatives</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="../static/mystyle.css">
<link rel="stylesheet" href="//cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" type="text/css">
<script type="text/javascript" src="//cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
{{ script | safe }}
<style>
h4 { margin: 20px 5px 20px 5px;}
</style>
</head>
<body>
<div class=page>
  
  <h1>Alternatives Exploration</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/method">Methodology</a></li>
    <li><a href="/plots">Plots</a></li>
  </ul>

  <h4>"Is it cheaper to choose the cheapest locale and pay for
  private school tuition instead?"</h4>
  <table style="width:100%">
    <tr>
      <td width=630>
      <div class=page>	
      
	{{ div | safe }}
      </div>
      </div>
      </td>
      <td valign="center">
	<p>Input data:<br>
	Average cost of tuition per child (K-12) = $136K
	</p>
      </td>
  
</body>
</html>

  
