<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>BATNA</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="../static/mystyle.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style>
table { 
border-spacing: 0;
border-collapse: collapse;
}
th { background-color: #1b7837;    color: white;}
th, td { font-size: 16px; padding: 3px;    text-align: left;}

</style>
</head>
<body>
<div class=page>
  <h1>BATNA Analysis</h1>
 <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/method">Methodology</a></li>
    <li><a href="/plots">Plots</a></li>
 </ul>

  <h2>BATNA for 10583:</h2>
  <br><p>
  Lowest median home price in selected region: <b>$352,000 (Mount
  Vernon)</b><br>
 <br>
  In lieu of <font color="green"><b>school performance:</b></font><br>
  - Average cost of private elementary school: $5,845 / year<br>
  - Average cost of private high school: $22,477 / year<br>
  => Average cost per child = 8 years x $5,845 + 4 years x $22,477 = <b>$136,668</b><br>
 <br>
  Final alternative cost = $352,000 + $136,668 = <b>$488,668</b> (assuming 1 child)<br>
 </p>
 </div>
 
  
  </body>
  </html>
  
