<html>
  <head>
    <link rel="stylesheet" href="//cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" type="text/css" />
    <script type="text/javascript" src="//cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
    {{ script | safe }}
  </head>
  <body>
    <div class=page>
      <h1>Home Price vs. Features  </h1>
      <h2>Features: {{features}} </h2>
      {{ div | safe }}
    </div>

    <div>
      <img src="https://s3.amazonaws.com/nysrealestate/plots/nyslocales.jpg"
      alt="NYS locale map" width="450" height="450">
    </div>
  </body>

</html>
