<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Homevalue Hunter</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="../static/mystyle.css">
<style>
h1 {text-align: center;}
h2 {text-align: center;}

</style>


</head>
<body>
<div class=page>
  <h1>Homevalue Hunter</h1>
  <h2>Finding the best-valued locales, based on <i><u><b>your</b></i></u> personal criteria.</h2>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/method">Methodology</a></li>
    <li><a href="/plots">Plots</a></li>
 </ul>

 <table style="width:100%">
    <tr>
      <td>
	<h4 font color="green">Step 1: Define your search area:</h4>
	
	<form id='input' method='post' action='index'>
	<p>
	Center of your search (zipcode): <input type='text' name='center' value='10583'/><br>

	Search radius:
	<select name="radius"e>
	  <OPTION SELECTED> 10 miles
	  <OPTION> 5 miles
	  <OPTION> 10 miles
	  <OPTION> 20 miles
	  <OPTION> 50 miles
	</SELECT> <br><br>
	</p>
	<h4  font color="green">Step 2: Select your criteria:</h4>
	<p>
	<input type="checkbox" name="features" value="school_performance" checked > School performance
	<br><input type="checkbox" name="features" value="crime_rate" > Crime rate
	<br><input type="checkbox" name="features" value="roi" > Return on Investment (ROI)
	<br><font color="grey"><input type="checkbox" name="features" value="commute_time" > Commuting time</font>
	<br><font color="grey"><input type="checkbox" name="features" value="walkability" > Walkability</font>
	<br>

	<br><input type="submit" value="Submit">

	</p>
	</form>
      </td>
      
      <td>
      </td>
    </tr>
  </div>  
  
  </body>
  </html>
  
