<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Homevalue Hunter</title>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76728159-1', 'auto');
  ga('send', 'pageview');
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css" href="../static/mystyle.css">
      <script>
$.ui.autocomplete.filter = function (array, term) {
  var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(term), "i");
  return $.grep(array, function (value) {
    return matcher.test(value.label || value.value || value);
  });
};

var json={{json|safe}}
         $(function() {
            var locales = [
               "scarsdale",
               "white-plains",
               "yonkers",
            ];
            $( "#automplete-1" ).autocomplete({
               minLength:1,   
               delay:100,   
               source: json['locale_names']
            });
         });
      </script>
<style>
h1 {text-align: center;}
h2 {text-align: center;}

</style>


</head>
<body>
<div class=page>
  <h1>Homevalue Hunter</h1>
  <h2>Finding the best-valued locales, based on <i><u><b>your</b></i></u> personal criteria.</h2>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/method">Methodology</a></li>
    <li><a href="/plots">Plots</a></li>

 </ul>
 <table style="width:100%">
   <tr>
     <td width="60%">
       <img src="../static/house_w_flowers.jpg" width="100%">
     </td>
     <td width="40%">
       <h4>Define your search area:</h4>
       
       <form id='input' method='post' action='index'>
       <p>
       city or zipcode: <input type='text' input id="automplete-1" name='center' value='scarsdale'><br>
       State: <select name="state"><OPTION SELECTED>NY</SELECT> <br><br>
       
       Search radius:
       <select name="radius">
	 <OPTION SELECTED> 10 miles
	 <OPTION> 5 miles
	 <OPTION> 10 miles
	 <OPTION> 20 miles
	 <OPTION> 50 miles
       </SELECT> <br><br>
       </p>
       <h4>Select your criteria:</h4>
       <p>
       <input type="checkbox" name="features" value="school_performance" checked > School performance
       <br><input type="checkbox" name="features" value="crime_rate" > Crime rate
       <br><input type="checkbox" name="features" value="roi" > Return on Investment (ROI)
       <br><input type="checkbox" name="features" value="commute_time" > Commuting time
       <br><input type="checkbox" name="features" value="walkability" > Walkability
       <br>
       
       <br><input type="submit" value="Submit">
       </p>
       </form>
       <h4><font color="red"> {{msg}}</font></h4>
       
       
     </td>
     </tr>
  </table>
</div>  

</body>
</html>
  
