<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hello, World!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>

<h1>Project Proposal for Data Incubators Bootcamp</h1>
   <p><b>Aim: </b> Develop a tool to identify undervalued areas (e.g. municipalities) for home-buyers, based on a list of features most important to them. </p>
   <p><b>Motivation: </b>While there are tools that reports various metrics of an area (e.g. school performance, walkability), there is to date no tool that compares different areas side-by-side based on these criteria.</p>
   <p><b>Concept and Innovation:</b>Take home prices (which depends on a large number of factors) and project them down to a low-dimension linear regression model based on a few user-specified features. By averaging out features that a home-buyer are less interested in, we can build a model that can identify under-valued areas based on the features important to them.</p> 
   <p><b>Approach: </b>I will first build a prototype for Westchester County, NY. My data source is  Zillow (for median home prices), the NYS Department of Education (for school performance), the NYS Division of Criminal Justice Services (for safety data). I will also incorporate data scrapped from lifestyle websites (e.g. 'best of' from Westchester Magazine). The analysis will be performed using on linear regression (sklearn), with the possibility for users to adjust the machine-learned weights to reflect their own priorities over the selected features.<p>
		</div>
	</body>
</html>
