<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Home value map</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
</style>
</head>
<body>

<div id='map'></div>
<script>

function getColor(d) {
    return d > .75 ? '#800026' :
           d > .5  ? '#BD0026' :
           d > .25  ? '#E31A1C' :
           d > 0  ? '#FC4E2A' :
           d > -.25   ? '#FD8D3C' :
           d > -.5   ? '#FEB24C' :
           d > -.75   ? '#FED976' :
                      '#FFEDA0';
}

function style(feature) {
    return {
        weight: 1,
        opacity: .7,
        color: 'black',
       fillColor: getColor(feature.properties.score),
       fillOpacity: 0.5
    };
}
var geojsonFeature = {
    "type": "Feature",
    "properties": {
        "name": "Scarsdale",
   },
    "geometry": {
        "type": "Point",
        "coordinates": [-73.57, 40.6990445]
    }
}

L.mapbox.accessToken ='pk.eyJ1IjoiZW5naHVpeSIsImEiOiJjaW1jYXc3dXUwMDAwdWRrbzc3cDZsaGEyIn0.Cr9h4ScdhaETwp__NbMMvw';
var map = L.mapbox.map('map','mapbox.streets',featurelayer = true).setView([40.6990445,-73.57], );

var featureLayer = L.mapbox.featureLayer({{gjson|string|safe}},{style: style}).addTo(map);
</script>

</body>
</html>
