<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Methodology</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="../static/mystyle.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style>
table { 
border-spacing: 0;
border-collapse: collapse;
}
th { background-color: #1b7837;    color: white;}
th, td { font-size: 16px; padding: 3px;    text-align: left;}

</style>
</head>
<body>
<div class=page>
  <h1>Methodology</h1>
 <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/method">Methodology</a></li>
    <li><a href="/plots">Plots</a></li>
 </ul>
 <br>
<h2>Data Sources</h2>
 <p> 2.9 Gb of data were collected from various sources. Given the
 inconsistent naming conventions across datasets, geocoding and a
 technique inspired by species-to-species ortholog matching in biology
 (<a href="http://inparanoid.sbc.su.se">InParanoid</a>) were used to correctly assign to correctly assign pricing and feature data to the correct locale.</p>
<table style="width:80%" cellpadding = "20">
  <tr>
    <td halign="center" valign="center">
      <img src="../static/census.png" height="75px">
    </td>
    <td halign="center" valign="center">
      <img src="../static/fbi.png" height="75px">
    </td>
    <td halign="center" valign="center">
      <img src="../static/nygov-logo.png" height="75px">
    </td>
    <td halign="center" valign="center">
      <img src="../static/nysed.png" height="75px">
    </td>
    <td halign="center" valign="center">
      <img src="../static/zillow.png"  height="40px">
    </td>
    <td halign="center" valign="center">
      <img src="../static/walk-score.png"  height="40px">
    </td>
    <td halign="center" valign="center">
      <img src="../static/sperling.png" height="60px">
    </td>
    </tr>
</table>
 <br><br>
<h2>Tech Stack</h2>
<table style="width:80%" cellpadding = "20">  
  <tr>
    <td halign="center" valign="center">
      <img src="../static/heroku.jpg"  height="50px">
    </td>
    <td halign="center" valign="center">
      <img src="../static/postgresql.png"  height="75px">
    </td>
   <td halign="center" valign="center">
      <img src="../static/sklearn.png"  height="75px">
    </td>
   <td halign="center" valign="center">
      <img src="../static/pandas.png"  width="100px">
    </td>
    <td halign="center" valign="center">
      <img src="../static/python.jpg" height="50px">
    </td>
   <td halign="center" valign="center">
      <img src="../static/flask.png"  height="50px">
    </td>
    <td halign="center" valign="center">
      <img src="../static/javascript.jpg" height="60px">
    </td>
    <td halign="center" valign="center">
      <img src="../static/leafletjs.jpg" height="40px">
    </td>    </tr>
</table>						
<br>			

  <h2>Analysis</h2>
 <p>Pricing and selected features within the user-defined search area are
 retreived from the <b>Postgresql database</b> and <b>real-time linear
 regressions</b> (scikit-learn) performed to obtain expected
 pricing. The percentage differences between actual and expected pricing are then reported to identify over- and under-valued locales.</p>
 
 </div>  
  
  </body>
  </html>
  
