<html>
<head>
<title>Figures</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="../static/mystyle.css">

<style>

</style>

  </head>
  <body>
      <h1>Data and Figures</h1>
 <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/method">Methodology</a></li>
    <li><a href="/plots">Plots</a></li>
 </ul>
<br>
<table style="width:80%" cellpadding = "20">
  <tr>
    <td valign="top">
      <img src="../static/medhomeprice.png" width=600px height=360px>
      <h4>Median Home Price</h4>
      <p>Median home prices in NY state span a wide range, from $20K
  to $2.5 million. Prices are highest for New York City and
  surrounding suburbs.</p>
   </td>
    <td valign="top">
      <img src="../static/roi.png" width=600px height=360px>
      <h4>Return on Investment (ROI)</h4>
       <p>Annual ROI for the period 2006-2016 indicates negative ROIs
  (-2 to -5%) for New York City and surrounding suburbs, suggesting
  home prices have not yet recovered from the 2007 housing market crash.</p><br>

   </td>
 </tr>
 <tr>
    <td valign="top">
     <img src="../static/crime.png" width=600px height=360px>
     <h4>Crime Rate</h4>
      <p>Crime rates are evenly distributed, with no significant
 correlation with proximity to cities.</p><br>

   </td>
    <td valign="top">
     <img src="../static/school_perform.png" width=600px height=360px>
     <h4>School Performance</h4>
      <p>School performances (measured here using % of
    8th-grade students with math scores in top quantile among
    all-state cohort) are evenly distributed with no observable
    geographical correlation.</p><br>

   </td>
 </tr>
</table>

    
 </body>

</html>
